@page "/logout"
@using MedicalSystem.Staff.Auth
@using MedicalSystem.Staff.Services
@inject SecureStorageService SecureStorageService
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation

<h3>Logging out...</h3>

@code {
    // private bool _loggedOut = false;

    // protected override async Task OnAfterRenderAsync(bool firstRender)
    // {
    //     if (firstRender && !_loggedOut)
    //     {
    //         _loggedOut = true;

    //         await SecureStorageService.ClearToken();

    //         if (AuthStateProvider is JwtAuthenticationStateProvider jwtProvider)
    //         {
    //             jwtProvider.NotifyUserLogout();
    //         }

    //         Navigation.NavigateTo("/login", forceLoad: true);
    //     }
    // }

    protected override async Task OnInitializedAsync()
    {
        await SecureStorageService.RemoveTokenAsync();
        ((JwtAuthenticationStateProvider)AuthStateProvider).NotifyUserLogout();
        Navigation.NavigateTo("/login");
    }
}
