@using Microsoft.AspNetCore.Authentication

@inject NavigationManager Navigation
@inject IHttpContextAccessor HttpContextAccessor

<button class="btn btn-danger" onclick="Logout">Logout</button>

@code {
    // private async Task Logout()
    // {
    //     // If using Blazor Server
    //     if (HttpContextAccessor.HttpContext != null)
    //     {
    //         await HttpContextAccessor.HttpContext.SignOutAsync("Cookies");
    //         await HttpContextAccessor.HttpContext.SignOutAsync("oidc");
    //     }

    //     Navigation.NavigateTo("/authentication/logout", forceLoad: true);
    // }
}