@inherits LayoutComponentBase
@inject NavigationManager Navigation

<PageTitle>Medical System Staff</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-bar">
            <AuthorizeView>
                <Authorized>
                    <span class="username">Welcome!</span>
                    <button class="btn btn-link logout-btn" @onclick="Logout">Logout</button>
                </Authorized>
                <NotAuthorized>
                    <NavLink class="btn btn-link" href="/login">Login</NavLink>
                </NotAuthorized>
            </AuthorizeView>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code {
    private void Logout()
    {
        Navigation.NavigateTo("/logout", forceLoad: true);
    }
}
