@inject AuthenticationStateProvider AuthStateProvider
@inherits LayoutComponentBase

<PageTitle>MedicalSystem.Staff</PageTitle>
@code {
    private ClaimsPrincipal? user;

    protected override async Task OnInitializedAsync()
    {
        var authState = await AuthStateProvider.GetAuthenticationStateAsync();
        user = authState.User;

        Console.WriteLine("USER IDENTITY: " + user.Identity?.Name);
        foreach (var claim in user.Claims)
        {
            Console.WriteLine($"CLAIM: {claim.Type} = {claim.Value}");
        }
    }
}
<div>
    👤 @user?.Identity?.Name | Role: @user?.FindFirst(ClaimTypes.Role)?.Value
</div>
<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
