@using MedicalSystem.Staff.Auth
@using MedicalSystem.Staff.Services
@inject TokenService SecureStorageService
@inject AuthenticationStateProvider AuthStateProvider
@inject NavigationManager Navigation

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MedicalSystem.Staff</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink href="/register-staff" class="nav-link" Match="NavLinkMatch.All">
                <span class="oi oi-plus"></span> Register Staff
            </NavLink>
        </div> 
        <div class="nav-item px-3">
            <NavLink href="/register-patient" class="nav-link" Match="NavLinkMatch.All">
                <span class="oi oi-plus"></span> Register Staff
            </NavLink>
        </div> 
        <div class="nav-item px-3">
            <NavLink href="/patients" class="nav-link" Match="NavLinkMatch.All">
                <span class="oi oi-plus"></span> Register Staff
            </NavLink>
        </div>
        <div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
            <nav class="flex-column">
                <!-- Add this inside your navigation bar, for example, after the "Home" link -->
                <div class="nav-item px-3">
                    <AuthorizeView>
                        <Authorized>
                            <NavLink class="nav-link" href="" @onclick="Logout">
                                <span class="oi oi-account-logout" aria-hidden="true"></span> Logout
                            </NavLink>
                        </Authorized>
                        <NotAuthorized>
                            <NavLink class="nav-link" href="" @onclick="Login">
                                <span class="oi oi-account-login" aria-hidden="true"></span> Login
                            </NavLink>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>
                <div class="nav-item px-3">
                    <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                        <span class="oi oi-home" aria-hidden="true"></span> Home
                    </NavLink>
                </div>
                <AuthorizeView>
                    <Authorized>
                        <div class="nav-item px-3">
                            <NavLink class="nav-link" href="blogposts">
                                <span class="oi oi-signpost" aria-hidden="true"></span> Manage Posts
                            </NavLink>
                        </div>
                    </Authorized>
                </AuthorizeView>
            </nav>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    private async Task Logout()
    {
        await SecureStorageService.RemoveTokenAsync();
        ((JwtAuthenticationStateProvider)AuthStateProvider).NotifyUserLogout();
        Navigation.NavigateTo("/auth/login");
    }

    private void Login()
    {
        Navigation.NavigateTo("/auth/login");
    }
}
